fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: $heading;
  margin-bottom: 0.3rem;
}

.form-control {
  @include placeholder {
    color: #c2cad2; /* 50% of #8596A5 */
    vertical-align: middle;
  }
}

.form-control,
.form-select {
  min-height: rem(34);
  padding: rem(7) rem(8);
  font-size: 13px;
  color: $text;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $grey-border;
  border-top-color: darken($grey-border, 2);
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(#000, 0.08);

  &.focus,
  &:focus {
    border-color: darken($grey-border, 15);
    border-bottom-color: darken($grey-border, 17);
    outline: none;
  }
}

.form-select {
  border: 1px solid $grey-border;
  box-shadow: none;
  cursor: pointer;
  @include appearance(none);
}

// small inputs
.input-sm {
  min-height: rem(26);
  padding-top: rem(4);
  padding-bottom: rem(4);
  font-size: 12px;
}

// large inputs
.input-lg {
  padding: rem(6) rem(10);
  font-size: 16px;
}

// full-width inputs
.input-block {
  display: block;
  width: 100%;
}

// checkboxes and radio buttons (tbd)
.form-checkbox {

  label {

  }

  input[type=checkbox],
  input[type=radio] {

  }

}
