fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
  color: $heading;
}

.form-note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: $text;
}

.form-control {
  &::placeholder {
    color: lighten($text, 8);
    vertical-align: middle;
  }
}

.form-control,
.form-select {
  min-height: 36px;
  padding: 8px;
  font-size: 13px;
  color: $text;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $grey-border;
  border-top-color: darken($grey-border, 2);
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(#000, .08);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &.focus,
  &:focus {
    border-color: darken($grey-border, 20);
    border-bottom-color: darken($grey-border, 22);
    outline: none;
    box-shadow: none;
  }

  &[disabled],
  .disabled {
    color: lighten($text, 9);
    background: $body;
    border-color: $grey-border;
    box-shadow: none;
  }
}

.form-select {
  display: inline-block;
  max-width: 100%;
  padding-right: 24px;
  cursor: pointer;
  background: #fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5cHgiIGhlaWdodD0iNnB4IiB2aWV3Qm94PSIwIDAgOSA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgICAgICAgPHRpdGxlPkdyb3VwQDJ4PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iR3JvdXAiIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbD0iIzg1OTZBNSI+ICAgICAgICAgICAgPGcgaWQ9ImNhcmV0Ij4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTksMC4yIEM4LjksMC4xIDguOCwwIDguNywwIEwwLjMsMCBDMC4yLDAgMC4xLDAuMSAwLDAuMiBMMCwwLjMgTDAuMSwwLjYgTDQuMyw1LjkgTDQuNSw2IEw0LjcsNS45IEw4LjksMC42IEw5LDAuNCBMOSwwLjIgWiIgaWQ9IlNoYXBlIj48L3BhdGg+ICAgICAgICAgICAgPC9nPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+") no-repeat right 8px center;
  border: 1px solid $grey-border;
  box-shadow: none;

  appearance: none;

  &[multiple] {
    padding: 8px;
    background: #fff;
  }
}

// small inputs
.input-sm {
  min-height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
}

// large inputs
.input-lg {
  padding: 10px;
  font-size: 16px;
}

// full-width inputs
.input-block {
  display: block;
  width: 100%;
}

// checkboxes and radio buttons
.form-checkbox {
  padding-left: 20px;
  margin: 15px 0;
  vertical-align: middle;

  label {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.8;
  }

  input[type=checkbox],
  input[type=radio] {
    float: left;
    margin: 5px 0 0 -20px;
    vertical-align: middle;
  }

  .form-note {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
  }
}
